::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

[class^=icon-] {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.icon-search {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-search.svg");
}

.icon-person {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-person-off.svg");
}

.icon-chat {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-chat-off.svg");
}

.icon-chat-sm-white {
  width: 19px;
  height: 16px;
  background-image: url("../images/icon-chat-sm-white.svg");
}

.icon-chat-add {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-chat-add.svg");
}

.icon-now {
  width: 31.5px;
  height: 16.5px;
  background-image: url("../images/icon-now.svg");
}

.icon-list-arr {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-list-arr.svg");
}

.icon-arr-right {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-arr-right.svg");
}

.icon-x {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-x.svg");
}

.icon-star {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-star.svg");
}

.icon-pencil {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-pencil.svg");
}

.icon-back {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-back.svg");
}

.icon-person-add {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-person-add.svg");
}

.icon-person-chat {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-person-chat.svg");
}

.icon-input-remove {
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-input-remove.svg");
}

.icon-delete {
  width: 16px;
  height: 16px;
  background-image: url("../images/icon-delete.svg");
}

.position-relative {
  position: relative !important;
}

input[type=text] {
  background: transparent;
  border: 1px solid #4A4A5F;
  border-radius: 5px;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 9px 15px 10px;
  outline: 0;
}

input[type=text]:focus {
  border-color: #fff;
}

input[type=text]::placeholder {
  color: #9396a7;
}

#wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

#header {
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9;
  background: var(--bs-body-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.page-title {
  font-size: 20px;
  font-weight: 700;
  transform: translateY(1px);
}

.btn-back ~ .page-title {
  font-size: 18px;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}

#bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  z-index: 9;
  background: var(--bs-body-bg);
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-top: 1px solid #1e1e24;
}

.menu-bar > a {
  width: 25%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.menu-bar [class^=icon] {
  position: relative;
}

.menu-bar .active i.icon-person {
  background-image: url("../images/icon-person-on.svg");
}

.menu-bar .active i.icon-chat {
  background-image: url("../images/icon-chat-on.svg");
}

.chat-count {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: -8px;
  background: var(--bs-blue);
  color: #fff;
  padding: 4px 6px 5px;
  border-radius: 10px;
  line-height: 1;
  font-size: 11px;
  min-width: 20px;
  text-align: center;
}

.section-title {
  font-size: 12px;
  font-weight: 500;
  color: #9396a7;
  margin-bottom: 15px;
}

.toggler {
  position: absolute;
  right: 0;
  top: 9px;
}

.more {
  position: absolute;
  right: 0;
  top: 9px;
}

section {
  padding-top: 12px;
  padding-bottom: 13px;
  position: relative;
}

section.collapsed .toggler {
  transform: scaleY(-1);
}

section.collapsed .section-title {
  margin-bottom: 0;
}

section.collapsed .section-body {
  display: none;
}

section + section {
  border-top: 1px solid #4a4a5f;
}

.profile {
  flex: 0 0 42px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/profile.svg");
  background-size: contain;
  line-height: 1;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.nickname {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.homeshop {
  font-size: 12px;
  font-weight: 500;
  color: #9396a7;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flag {
  font-size: 19px;
  line-height: 1;
}

.user {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 9px 0;
}

.section-body > .user:first-of-type {
  padding-top: 0;
}

.user .profile {
  margin-right: 12px;
}

.user .info {
  flex: 1 1 auto;
  min-width: 0;
}

.user .state {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.user .now {
  margin-right: 4px;
  line-height: 1;
}

.user .flag {
  margin-right: 3px;
  line-height: 1;
}

.user .level {
  line-height: 1;
}

.my-area .user {
  padding: 15px 0;
}

.my-area .user .profile {
  width: 64px;
  height: 64px;
  flex: 0 0 64px;
}

.users-slider {
  display: flex;
  overflow-x: auto;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 10px;
}

.users-slider .user:last-of-type {
  padding-right: 20px;
}

.users-slider .user {
  padding: 0 10px;
  flex-direction: column;
  margin-top: 0;
  width: auto;
  position: relative;
}

.users-slider .user .nickname {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 42px;
  font-size: 11px;
  font-weight: 500;
  color: #9396a7;
  text-align: center;
  margin-top: 3px;
}

.users-slider .user .profile {
  margin-right: 0;
}

.users-slider .user .delete {
  position: absolute;
  right: 3px;
  top: -2px;
  line-height: 1;
  font-size: 1em;
}

[class^=level-] {
  padding: 3px 4px 4px;
  font-size: 10px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 31px;
}

.level-A {
  background: var(--bs-orange);
}

.level-B {
  background: var(--bs-blue);
}

.level-C {
  background: var(--bs-green);
}

.btn-dm {
  border: 1px solid #565568;
  border-radius: 50rem;
  padding: 9px 20px 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.chat {
  display: flex;
  align-items: center;
  padding: 9px 0;
  margin-left: -2px;
}

.chat .chat-name {
  font-size: 15px;
  font-weight: 500;
  transform: translateY(-2px);
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat .chat-name span {
  color: #6a697d;
  margin-left: 2px;
}

.chat .chat-info {
  flex: 1 1 auto;
  min-width: 0;
}

.chat .chat-latest {
  font-size: 12px;
  font-weight: 500;
  color: #9396a7;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.38;
  margin-top: 2px;
}

.chat .chat-count {
  position: static;
}

.chat .chat-time {
  flex: 0 0 65px;
  margin-left: 15px;
  text-align: right;
}

.chat .chat-time .time {
  font-size: 13px;
  font-weight: 500;
  color: #6a697d;
}

.chat .group {
  width: 54px;
  height: 54px;
  flex: 0 0 54px;
  margin-right: 12px;
  position: relative;
}

.chat .group .profile {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
}

.chat .group .profile img {
  border: 2px solid var(--bs-body-bg);
}

.chat .group.count-3 .profile {
  width: 35px;
  height: 35px;
}

.chat .group.count-3 .profile:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}

.chat .group.count-4 .profile {
  width: 30px;
  height: 30px;
  position: absolute;
}

.chat .group.count-4 .profile:nth-child(1) {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.chat .group.count-4 .profile:nth-child(2) {
  left: 0;
  bottom: 0;
}

.chat .group.count-4 .profile:nth-child(3) {
  right: 0;
  bottom: 0;
}

.chat .group.count-5 .profile {
  width: 28px;
  height: 28px;
  position: absolute;
}

.chat .group.count-5 .profile:nth-child(1) {
  left: 0;
  top: 0;
}

.chat .group.count-5 .profile:nth-child(2) {
  right: 0;
  top: 0;
}

.chat .group.count-5 .profile:nth-child(3) {
  left: 0;
  bottom: 0;
}

.chat .group.count-5 .profile:nth-child(4) {
  right: 0;
  bottom: 0;
}

.layer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--bs-body-bg);
}

.layer-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layer-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 60px;
  padding: 0 20px;
}

.layer-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  transform: translateY(1px);
}

.layer-body {
  flex-grow: 1;
  padding: 0 20px 20px;
  max-height: 100%;
  overflow: auto;
}

.btn-layer-ok {
  position: absolute;
  right: 20px;
  top: 23px;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.btn-layer-ok[disabled] {
  color: #9093a4;
}

.btn-layer-ok strong {
  color: var(--bs-blue);
  margin-right: 3px;
}

.btn-layer-close {
  position: absolute;
  left: 18px;
  top: 18px;
  line-height: 1;
}

.layer-profile-detail {
  background: rgba(0, 0, 0, 0.92);
}

.layer-profile-detail .profile-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 60px 20px 100px;
}

.layer-profile-detail .profile-detail .profile {
  width: 120px;
  height: 120px;
  flex: 0 0 120px;
}

.layer-profile-detail .profile-detail .state {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.layer-profile-detail .profile-detail .nickname {
  font-size: 19px;
  margin-top: 25px;
}

.layer-profile-detail .profile-detail .homeshop {
  margin-top: 5px;
  font-size: 14px;
}

.layer-profile-detail .profile-detail .message {
  font-size: 14px;
  font-weight: 500;
  color: #9396a7;
  margin-top: 16px;
}

.layer-profile-detail .profile-detail .dm {
  margin-top: 20px;
}

.layer-profile-detail .btn-favorite {
  position: absolute;
  right: 18px;
  top: 16px;
  line-height: 1;
}

.layer-profile-detail .btn-favorite.active .icon-star {
  background-image: url("../images/icon-star-active.svg");
}

.layer-profile-detail .btn-edit {
  position: absolute;
  right: 20px;
  top: 18px;
  line-height: 1;
}

.input-area {
  background: var(--bs-body-bg);
  position: fixed;
  left: 0;
  top: 60px;
  right: 0;
  padding: 0 20px;
  z-index: 1;
}

.input-area input {
  width: 100%;
  background: var(--bs-body-bg);
  padding-right: 50px;
}

.input-area .btn-input-remove {
  line-height: 1;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.layer-chat-add .layer-body {
  padding-top: 55px;
  position: relative;
}

.layer-chat-add.selected .layer-body {
  padding-top: 120px;
}

.layer-chat-naming .layer-body {
  padding-top: 55px;
  position: relative;
}

.select-item:first-of-type .user {
  padding-top: 0;
}

.select-item .fake-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #565567;
  border-radius: 50px;
  flex: 0 0 20px;
  margin-left: 12px;
}

.select-item input[type=checkbox] {
  position: absolute;
  z-index: -999;
  font-size: 1;
  left: -9999px;
}

.select-item input[type=checkbox]:checked + label .fake-checkbox {
  background: url("../images/checkbox.svg") no-repeat 0 0;
  background-size: contain;
  border: 0;
}

.selected-member {
  margin-bottom: 15px;
}

#root {
  height: 100%;
}

.customized-app {
  height: 100%;
}

/* sendbird chatting */
.sendbird-theme--dark .sendbird-conversation {
  background-color: #191528;
}

.sendbird-theme--dark .sendbird-chat-header {
  background-color: #191528;
}

.sendbird-label--caption-2 {
  color: #9396a7;
  font-weight: 500;
}

.sendbird-thumbnail-message-item-body {
  max-width: 320px;
  min-width: 220px;
}

.sendbird-text-message-item-body {
  border-radius: 10px;
  padding-top: 6px;
}

.sendbird-file-message-item-body {
  border-radius: 10px;
}

.sendbird-theme--dark .sendbird-file-message-item-body.outgoing {
  background-color: #e1e2eb;
}

.sendbird-theme--dark .sendbird-icon-color--primary [class*='fill'] {
  fill: #e1e2eb;
}

.sendbird-theme--dark .sendbird-text-message-item-body.outgoing {
  background-color: #e1e2eb;
  line-height: 1;
}

.sendbird-theme--dark .sendbird-text-message-item-body.mouse-hover.outgoing,
.sendbird-theme--dark .sendbird-text-message-item-body:hover.outgoing {
  background-color: #b1bdff;
}

.sendbird-theme--dark .sendbird-label--color-oncontent-1 {
  color: #000;
}

.sendbird-theme--dark .sendbird-text-message-item-body.incoming {
  background-color: #565568;
  line-height: 1;
}

.sendbird-theme--dark .sendbird-text-message-item-body.mouse-hover.incoming,
.sendbird-theme--dark .sendbird-text-message-item-body:hover.incoming {
  background-color: #787793;
}

.sendbird-theme--dark .sendbird-label--color-onbackground-1 {
  color: #fff;
}

.sendbird-theme--dark .sendbird-label--color-onbackground-2 {
  color: #9396a7;
  font-weight: 500;
}

.sendbird-message-content.outgoing .sendbird-message-content__left.use-reactions {
  margin-right: 6px;
}

.sendbird-message-content.incoming .sendbird-message-content__right.use-reactions {
  margin-left: 6px;
}

.sendbird-conversation__footer {
  padding-bottom: 0;
}

.sendbird-message-input-wrapper .sendbird-message-input-wrapper__message-input {
  padding: 0;
  line-height: 1;
}

.sendbird-message-input .sendbird-message-input--textarea {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sendbird-message-input .sendbird-message-input--attach {
  bottom: 12px;
}

.sendbird-theme--dark .sendbird-message-input .sendbird-message-input--textarea {
  background-color: #fff;
  border: 0 !important;
  border-radius: 0;
  color: #000;
}

.sendbird-theme--dark .sendbird-message-input .sendbird-message-input--textarea:focus {
  color: #000;
}

.sendbird-theme--dark .sendbird-message-input .sendbird-message-input--placeholder {
  color: #9396a7;
  top: 15px;
}

.sendbird-theme--dark .sendbird-iconbutton .sendbird-iconbutton__inner svg {
  vertical-align: top;
}

.sendbird-theme--dark .sendbird-icon-color--content-inverse [class*='fill'] {
  fill: #565567;
}

.sendbird-theme--dark .sendbird-iconbutton:active .sendbird-icon-color--content-inverse [class*='fill'],
.sendbird-theme--dark .sendbird-iconbutton:hover .sendbird-icon-color--content-inverse [class*='fill'] {
  fill: #fff;
}

.sendbird-message-content.outgoing .sendbird-message-content__middle {
  max-width: 68vw;
}

.sendbird-file-message-item-body__file-icon__icon svg {
  vertical-align: top;
}
/*# sourceMappingURL=style.css.map */